@page "/"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<h1>Inscripciones!</h1>
<div>
    <b>Alumnos</b>
    @if (alumnos == null)
    {
        <p><em>Cargando....</em></p>
    }
    else
    {
        <select class=" form-select" aria-label="Default select example" @bind="@DpiAlumno">
            <option selected>Seleccione al alumno</option>
            @foreach (var alumno in alumnos)
            {
                <option value="@alumno.Dpi">@alumno.Nombre</option>
            }
        </select>
    }
</div>
<div>
    <b>Talleres</b>
    @if (talleres == null)
    {
        <p><em>Cargando....</em></p>
    }
    else
    {
        <select class=" form-select form-select-lg mb-3" aria-label="Large select example" @bind="@codigoTaller">

            <option selected>Sellecione el taller</option>
            @foreach (var taller in talleres)
            {
                <option value="@taller.Codigo">@taller.Nombre</option>
            }
        </select>
    }
</div>
<div>
    <button class="btn btn-primary" @onclick="GuardarInscripcion">Click me</button>
</div>

<div>
    @if (inscripciones == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Dpi</th>
                    <th>Fecha</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var incripcion  in inscripciones)
                {
                    <tr>
                        <td>@incripcion.Codigo</td>
                        <td>@incripcion.Dpi</td>
                        <td>@incripcion.Fecha</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>  

 

@code{
    List<Alumno> alumnos;
    List<Taller> talleres;
    List<Incripcion> inscripciones;
    string codigoTaller;
    string DpiAlumno;
    protected override async Task OnInitializedAsync()
    {
        alumnos = await Http.GetFromJsonAsync<List<Alumno>>("sample-data/Alumno.json");
        talleres = await Http.GetFromJsonAsync<List<Taller>>("sample-data/Taller.json");
        //inscripciones = await Http.GetFromJsonAsync<List<Incripcion>>("");
        inscripciones = await localStorage.GetItemAsync<List<Incripcion>>("inscripciones");
    }

    protected async Task GuardarInscripcion()
    {
        Incripcion incripcion = new Incripcion();
        incripcion.Codigo = codigoTaller;
        incripcion.Dpi = DpiAlumno;
        incripcion.Fecha = DateTime.Now;
        inscripciones.Add(incripcion);

        await localStorage.SetItemAsync("Inscripciones", "inscripciones");
    }

}